@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fefefe;
}

.fa-bars {
  display: none;
}

.logo img {
  width: 15%;
  border-radius: 2rem;
}

.nav {
  margin: 1rem;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav ul li {
  text-decoration: none;
  padding: 0.5rem;
}

.nav ul li a {
  text-decoration: none;
  color: #390c26;
  padding: 0.8rem;
  border: 1px solid orange;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #edecee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav li a:hover {
  background-color: #fff6cf;
  color: #3a05fb;
}

.slider {
  background-image: url(../img/fristpc.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

section {
  margin-top: 1rem;
}

.about__section {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  background-image: url(../img/about.png);
  background-size: 90%;
  background-repeat: no-repeat;
  font-size: 1rem;
  line-height: 2rem;
  padding: 20px 0;
  margin: 0;
  color: #0f0909;
  background-color: #48357163;
}

.about h1 {
  font-size: 2.5rem;
  margin: 1rem;
}

.about p {
  margin: 1rem;
  font-size: 1.5rem;
}

.btn {
  background-color: rgba(255, 179, 66, 0.863);
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1rem;
  color: red;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
}

.btn:hover {
  background-color: #1f3020;
}

.profile {
  background-color: #48357163;
}

.profile img {
  height: 75%;
  width: 75%;
  border: 10px solid orange;
  border-radius: 20px;
  margin: 30px 0;
  -webkit-box-shadow: 0 9px 28px 0 rgba(35, 88, 213, 0.95), 0 7px 20px 0 rgba(0, 0, 0, 0.33);
          box-shadow: 0 9px 28px 0 rgba(35, 88, 213, 0.95), 0 7px 20px 0 rgba(0, 0, 0, 0.33);
}

.service {
  width: 80%;
  margin: auto;
  text-align: center;
}

.service h1 {
  font-size: 2rem;
  margin: 1rem;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.col-3 {
  background-color: #d6fdde;
  padding: 1rem;
  height: 17rem;
  width: 32%;
  border: 1px solid #f1a6a6;
  font-size: 20px;
  position: relative;
  margin-top: 1rem;
  border-radius: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 0.2), 0 6px 20px 0 rgba(12, 12, 12, 0.19);
          box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 0.2), 0 6px 20px 0 rgba(12, 12, 12, 0.19);
}

.position i {
  color: orangered;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 50%;
  border: 2px dashed #01d301;
  font-size: 2rem;
  position: relative;
  top: -2.5rem;
}

.position p {
  margin: 1rem;
}

.galary {
  text-align: center;
  width: 80%;
  margin: auto;
  position: relative;
}

.galary h1 {
  margin: 1rem;
  font-size: 2rem;
}

.galary i {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  color: orangered;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.fa-chevron-circle-left {
  left: -5rem;
}

.fa-chevron-circle-right {
  right: -5rem;
}

.galary i:hover {
  color: #0cca0c;
}

.image_ps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.image_ps img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(14, 13, 13, 0.19);
          box-shadow: 0 2px 4px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(14, 13, 13, 0.19);
}

.footer {
  margin: 2rem auto auto 0;
  background-color: black;
  color: #fff;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.widged_social {
  color: #fefefe;
}

.widged_social ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  gap: 1rem;
}

.widged_social ul li a i {
  color: #f8620b;
}

.d-flex span i {
  color: #f8620b;
}

.d-flex a {
  color: #fffeff;
  text-decoration: none;
}

.link ul {
  list-style: none;
}

.link ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright {
  text-align: center;
  background-color: #ff0e0e;
  color: #fff;
  padding: 1rem;
  margin: 0;
}

.footer-copyright a {
  text-decoration: none;
  font-weight: bold;
  color: gold;
}
/*# sourceMappingURL=style.css.map */