body{
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}
#grid{
    height: 100vh;
    display: grid;
    grid-gap: 10px 0;
    grid-template-columns:
	1fr
	repeat(4,minmax(0,272px)) 
	1fr;
	
    grid-template-rows:
	104px 
	600px
	373px
	373px
	373px
	200px;
    grid-template-areas: 
        ". header header header header ."
        "slider slider slider slider slider slider"
        ". about about about  profile ."
        ". service service service service ."
        ". galary galary galary galary ."
        "footer footer footer footer footer footer"
    ;
}
.logo {
    height: 10%;
    margin: 0;
    padding: 0;
    border-radius: 100%;
}
.header{
    background-color: #fefefe;
    grid-area:header ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{ display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
.nav li{
    padding: 0 5px;
}
.nav li a{
    text-decoration: none;
    color: rgb(57, 12, 38);
    padding:0.8rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(237, 236, 238);
    transition: 0.5s;
}
.nav li a:hover{
    background-color: rgb(255, 246, 207);
    color: rgb(58, 5, 251);
    
}
.logo{
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 100%;
}
.slider{
    background-image: url(img/4rd\ pc.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    grid-area: slider;
}
.about{
    background-image: url(img/about.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 25px;
    line-height: 30px;
    padding: 20px 0;
    margin: 0;
    color: #0f0909;
    background-color: #48357163;
    grid-area:about ;
    
}
.btn {
    width: 150px;
    background-color: rgba(255, 179, 66, 0.863);
    border: none;
    outline: none;
    height: 40px;
    border-radius: 20px;
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  .btn:hover {
    background-color: rgb(70, 47, 13);
  }
.profile{
	background-color: #48357163;
	grid-area:profile ;
}
.profile img{
    height: 80%;
    width: 85%;
    border: 10px solid orange;
    border-radius: 20px;
    margin: 30px 0;
    box-shadow: 0 9px 28px 0 rgba(35, 88, 213, 0.95), 0 7px 20px 0 rgba(0, 0, 0, 0.33);
}
.service{
    text-align: center;
    grid-area: service;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.col-3{
    background-color: #e8dfe0;
    height: 280px;
    width: 32%;
    border: 4px solid #fff;
    font-size: 20px;
    position: relative;
}
.position {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);}

.galary{
    grid-area:galary ;
    position: relative;
}
.img_galary{
    width: 50%;
    height: 300px;
    border: 3px solid orange;
    border-radius: 5%;
}
.image_ps{
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
.footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    grid-area: footer;
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 20px;
}
.widged_social{
color: #fefefe;
}
.widged_social ul{
    list-style: none;
    display: flex;
    font-size: 30px;
    color: #fefefe;
}
.widged_social ul li{
    margin: 0 5px;
}
.link {
    background-color: black;
    color: #fefefe;
}
.link ul{
    list-style: none;
    margin: 0 20px;
}
.medile_ft{
    padding: 0px;
}
.medile_ft li a{
    text-decoration: none;
    padding: 20px;
    color: #fefefe;
}
.icon{
     color: rgb(35 88 213 / 95%);
}
.fas{
    text-decoration: none;
}
.cont{
    text-decoration: none;
    list-style: none;
    padding: 2px;
}
.d-flex {
    padding: 5px;
}
.footer-copyright{
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    grid-column: 1/4;
}
.footer-contact{
    background-color: black;
    color: #fefefe;
}
@media screen and (max-width:480px){
	#grid{ 
	grid-template-rows:
	100px 
	400px
	373px
	373px
	373px
	373px
	200px;
    grid-template-areas: 
        "header header header header header header"
        "slider slider slider slider slider slider"
		". profile  profile profile profile ."
        "about about about about about about "
        "service service service service service service"
        "galary galary galary galary galary galary"
        "footer footer footer footer footer footer"
    ;
}
.logo {
    height: 50%;
    margin: 0;
    padding: 0;
    border-radius: 100%;
}
.header{
    justify-content:start;
}
.nav{
    width: 50%;
}
.nav li{
    padding: 9px 5px;
}
.nav li a{
    padding: 6px 14px;
}
.profile img {
    height: 90%;
    width: 80%;
    margin-left: 6%;
}

.icons{
    display: block;
    width: 20px;
}
.block{
    display: inline;
}
.col-3{
    height: 100px;
    width: 100%;
    font-size: 18px;
    border: 1px solid #fff;
    line-height: 17px;
}
#none{
    display: none;
}
.footer{
    display: inline;
}

}

